body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
.header1 {
    width: 80%;
    margin: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}


main {
    padding: 20px;
}

.search-box {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search-box h2 {
    margin-bottom: 10px;
}

.search-box input {
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.search-box button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.history {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
}

.history h2 {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}
