    body{
      background-image: url(Rlwy2.jpg);
      background-repeat: no-repeat;
            background-attachment: scroll;
            background-size: cover;
            margin: 0 ;
            overflow: hidden;
            justify-content: center; 
            align-items: center;
            
    }
    header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
.header1 {
    width: 80%;
    margin: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
   form {
      font-weight: bold;
    }

    .submit_button, .cancel_button {
      width: 60px;
      height: 30px;
      border-radius: 5px;
      background-color: rgb(46, 149, 238);
      color: white;
      border: 0;
      cursor: pointer;
      margin-left: 10px;
    }

    .submit_button:hover, .cancel_button:hover {
      background-color: rgb(22, 137, 237);
    }  
    
    body
    {
      text-align: center;
    }

    .input{
      border: 0cap;
      border-radius: 15px;
      height:40px;
      size:40;
    }

    .input:hover
    {
      cursor: pointer;
    }

    input{
      text-align: center;
      color: gray;
    }