body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 500px;
    margin: 50px auto;
    background-color: #263307;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(243, 240, 240, 0.1);
}
h2 {
    text-align: left;
    color: #e5dbdb;
}
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
input[type="text"], input[type="date"], select{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #fffcfc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
input[type="submit"]:hover {
    background-color: #45a049;
}